.img{
    width: 100%;
}
.article {
  padding: 0 40rpx;
  color: #444;
  .title {
    font-size: 32rpx;
    text-align: center;
    font-weight: 500;
  }
  .desc {
    display: flex;
    justify-content: center;
    margin: 30rpx 0;
    font-size: 24rpx;
    color: #999;
  }
  .content {
    font-size: 28rpx;
    text-indent: 2em;
  }
}
