.model-group {
  padding: 20rpx 10rpx 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background: #fff;
  .model-single {
    width: 228rpx;
    margin-bottom: 12rpx;
    .model-image {
      height: 228rpx;
      border-radius: 8rpx;
    }
    .model-info {
      display: flex;
      justify-content: space-around;
      align-items: center;
      line-height: 70rpx;
      font-size: 24rpx;
      color: #999;
      .model-name {
        color: #444;
        font-size: 30rpx;
      }
      .model-attention {
        display: flex;
        justify-content: space-around;
        align-items: center;
      }
      .heart {
        width: 24rpx;
        height: 24rpx;
        margin-right: 14rpx;
      }
    }
  }
}