@import "../../assets/scss/common.scss";
swiper {
  height: 750rpx;
  image {
    height: 100%;
  }
}
.tabs {
  display: flex;
  height: 88rpx;
  line-height: 88rpx;
  // margin: 0 24rpx;
  border-top: 4rpx solid #f7f7f7;
  border-bottom: 6rpx solid #f7f7f7;
  .tab {
    position: relative;
    flex: 1;
    line-height: 88rpx;
    font-size: 28rpx;
    text-align: center;
    color: #999;
  }
  .tab-active {
    color: $color-theme;
    &::after {
      content: "";
      position: absolute;
      bottom: -5rpx;
      left: 50%;
      margin-left: -38rpx;
      width: 76rpx;
      height: 6rpx;
      background-color: $color-theme;
    }
  }
}
.cell-group {
  margin: 30rpx 40rpx;
  border-radius: 8rpx;
}
.cell {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin: 30 0rpx;
  color: #444;
  font-size: 28rpx;
  .name {
    margin-right: 20rpx;
    font-size: 36rpx;
    color: $color-theme;
  }
  .follow {
    // width:100rpx;
    height: 50rpx;
    line-height: 50rpx;
    background: $color-theme;
    border-radius: 10rpx;
    color: #fff;
    font-size: 28rpx;
  }
  .model-row {
    display: flex;
    // flex: 1 1 50%;
    margin-bottom: 8rpx;
    line-height: 1.8;
    font-size: 28rpx;
    text {
      font-size: 28rpx;
    }
  }
  .model-row:nth-child(2n-1){
    flex: 1 1 60%;
  }
  .model-row:nth-child(2n){
    flex: 1 1 40%;
  }
  .row-address {
    flex: 1 1 100%!important;
  }
}

.cell-introduce {
  border-top: 2rpx solid #ddd;
  // padding-top: 35rpx;
  line-height: 1.6;
}
.model-group {
  padding: 26rpx 0 0 22rpx;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  .model-single {
    width: 228rpx;
    height: 228rpx;
    margin-bottom: 12rpx;
    margin-right: 12rpx;
    image {
      width: 228rpx;
      height: 228rpx;
      border-radius: 8rpx;
    }
  }
}

.edit {
  margin-top: 56rpx;
  width: 100%;
  height: 108rpx;
  // position: fixed;
  // bottom: 22rpx;
  // z-index: 9;
  background-color: #fff;
  .edit-btn {
    width: 480rpx;
    height: 80rpx;
    line-height: 80rpx;
    background: $color-theme;
    color: #fff;
    border-radius: 8rpx;
    font-size: 32rpx;
    font-weight: 500;
  }
}
