@import "../../scss/common.scss";
swiper {
  height: 747rpx;
  image {
    height: 100%;
  }
}
// .tabs{
//   margin-bottom: 20rpx;
// }
// .i-tabs-tab-title-current{
//   color: $color-theme!important;
// }
.tabs {
  display: flex;
  margin: 12rpx 180rpx;
  line-height: 47rpx;
  .tab {
    flex: 1;
    line-height: 50rpx;
    padding: 12rpx 0;
    margin:0 20rpx;
    font-size: 28rpx;
    text-align: center;
    color: #666;
    text{
      font-size: 28rpx;
    }
  }
  .tab-active {
    border-bottom: 1px solid $color-theme;
  }
}
.cell-group{
  border: 1px solid #eee;
  margin: 30rpx 40rpx;
   border-radius: 8rpx;
}
.cell {
  display: flex;
  flex-wrap: wrap;
  // justify-content: space-between;
  margin: 20rpx;
  // border-bottom: 1px solid #e6e6e6;
  color: #999;
  font-size: 32rpx;
  .name {
    margin-right: 20rpx;
    font-size: 36rpx;
    color: $color-theme;
  }
  // 风格标签移除
  // .tag {
  //   display: block;
  //   width: 90rpx;
  //   height: 41rpx;
  //   line-height: 41rpx;
  //   margin-right: 8rpx;
  //   text-align: center;
  //   color: $color-theme;
  //   opacity: 0.8;
  //   // background-color: #fff9f2;
  //   border: 1px solid #eee;
  //   border-radius: 12rpx;
  // }
  .model-row{
    flex: 1 1 50%;
    margin-bottom: 8rpx;
    line-height: 1.8;
    font-size: 28rpx;
    text{
      font-size: 28rpx;
      // color: #666;
    }
  }
}
.cell-name{
  justify-content: space-between;
  border-bottom: 0;
  .tags{
    // width: 400rpx;
    display: flex;
    justify-content: flex-end;
  }
}

.model-group {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .model-single {
    width: 33.33%;
    image {
      height: 200rpx;
    }
  }
}
