.auth{
	width: 640rpx;
	height: 285rpx;
	display: flex;
	justify-content: center;
	align-items:center;
	font-size:48px;
	color: #F5A623;
	image{
		width: 64rpx;
		height: 64rpx;
	}
	color: #4A90E2;

}