@import "../../../assets/scss/common.scss";
page {
  background-color: #f7f7f7;
}
form {
  font-size: 30rpx;
  color: #999;
  // 每行需要输入的样式
  view.item {
    line-height: 96rpx;
    display: flex;
    align-items: center;
    padding: 0 40rpx;
    background-color: #fff;
    margin-bottom: 2rpx;
    label {
      color: #444;
      flex: 2;
    }
    // picker 样式
    picker {
      width: 100%;
      view {
        display: flex;
        label {
          color: #444;
          flex: 2;
        }
        text {
          color: #999;
          flex: 5;
        }
      }
    }
    input[placeholder] {
      flex: 5;
    }
    .xxx {
      color: #999;
    }
  }
  // textarea 详细地址 自我介绍
  view.address,
  view.intro {
    display: block;
    background-color: #fff;
    //   margin-bottom: 30rpx;
    textarea {
      line-height: 1.5;
    }
  }
  //三围样式
  .circles {
    display: flex;
    align-items: center;
    color: #444;
    & > input[placeholder] {
      text-align: center;
    }
  }
}

// 提交按钮
.submit {
  position: fixed;
  width: 600rpx;
  left: 75rpx;
  bottom: 31rpx;
  margin-top: 22rpx;
  margin-bottom: 31rpx;
  button {
    background-color: $color-theme;
    border-radius: 10rpx;
    line-height: 80rpx;
    width: 100%;
    font-size: 32rpx;
    font-weight: 500;
    color: #fff;
  }
}
