@import "../../assets/scss/common.scss";
.container{
    // background-color: #f7f7f7;
}
.cell{
    height: 96rpx;
    line-height: 96rpx;
    margin-top: 2rpx;
    padding-left: 40rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-top: 2rpx solid #f7f7f7;
    .cell__title{
        width: 130rpx;
        margin-right: 130rpx;
        font-size: 30rpx;
        color: #444;
    }
    .cell__text{
        flex: 1;
        font-size: 28rpx;
        color: #999;
    }
}
.submit{
    width:600rpx;
    height:80rpx;
    line-height: 80rpx;
    background:$color-theme;
    border-radius:10rpx;
    font-size:32rpx;
    color: #fff;
}