@import "../../../assets/scss/common.scss";
page {
  background-color: #f7f7f7;
}
.imgs-container {
  padding-left: 33rpx;
  margin-top: 7rpx;
  background-color: #fff;
  .title {
    padding: 33rpx 0 40rpx 7rpx;
    font-size: 30rpx;
  }
  .imgs{
    display: flex;
    flex-wrap: wrap;
  }
  .uploads {
    position: relative;
    width: 220rpx;
    height: 220rpx;
    margin-right: 12rpx;
    margin-bottom: 10rpx;
    .delete {
      position: absolute;
      width: 40rpx;
      height: 40rpx;
      top: 13rpx;
      right: 15rpx;
    }
  }
  .upload {
    width: 220rpx;
    height: 220rpx;
    margin-right: 12rpx;
    margin-bottom: 10rpx;
  }

  .tip {
    padding-top: 33rpx;
    padding-bottom: 107rpx;
    line-height: 42rpx;
    font-size: 24rpx;
    color: #999;
    .asterisk {
      color: #f67373;
    }
  }
}
.save {
  position: fixed;
  left: 75rpx;
  bottom: 50rpx;
  width: 600rpx;
  height: 80rpx;
  line-height: 80rpx;
  font-size: 32rpx;
  font-weight: 500;
  color: #fff;
  background: $color-theme;
  border-radius: 10rpx;
}
